<h1>Login</h1>

  <form>
    <div class="form-group">
      <label for="task">User Name</label>
      <input id="username" type="task" ng-model="user.username" placeholder="task" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="date">Password</label>
      <input id="passwrd" type="password" ng-model="user.password" class="form-control"/>
    </div>
    <button style="background-color: brown; color: orange;" ng-click="logmein(user)" class="btn btn-default">login</button>
  </form>
</h3>
